@using CarInsuranceManage.ViewModels
@model ForgotPasswordViewModel
<form asp-action="ForgotPassword" method="post">
    <input asp-for="Email" placeholder="Email" />
    <button type="submit">Reset Password</button>
</form>
